DTypes

In [1]:
import pandas as pd

reviews = pd.read_csv('winemag-data_first150k.csv', index_col=0)

In [2]:
reviews.price.dtype

dtype('float64')

In [3]:
reviews.dtypes

country         object
description     object
designation     object
points           int64
price          float64
province        object
region_1        object
region_2        object
variety         object
winery          object
dtype: object

In [4]:
reviews.points

0         96
1         96
2         96
3         96
4         95
          ..
150925    91
150926    91
150927    91
150928    90
150929    90
Name: points, Length: 150930, dtype: int64

In [5]:
reviews.points.dtype

dtype('int64')

In [6]:
reviews.points.astype('float64')

0         96.0
1         96.0
2         96.0
3         96.0
4         95.0
          ...
150925    91.0
150926    91.0
150927    91.0
150928    90.0
150929    90.0
Name: points, Length: 150930, dtype: float64

In [7]:
reviews.index

Index([     0,      1,      2,      3,      4,      5,      6,      7,      8,
            9,
       ...
       150920, 150921, 150922, 150923, 150924, 150925, 150926, 150927, 150928,
       150929],
      dtype='int64', length=150930)

In [8]:
reviews.index.dtype

dtype('int64')

Entries missing values are given the value NaN, short for "Not a Number". For technical reasons these NaN values are always of the float64 dtype.

Pandas provides some methods specific to missing data. To select NaN entries you can use pd.isnull() (or its companion pd.notnull()).

In [9]:
reviews[pd.isnull(reviews.country)]

,country,description,designation,points,price,province,region_1,region_2,variety,winery
1133,NaN,Delicate white flowers and a spin of lemon pee...,Askitikos,90,17.0,NaN,NaN,NaN,Assyrtiko,Tsililis
1440,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Red Blend,Büyülübağ
68226,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
113016,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
135696,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas

Replacing missing values is a common operation. Pandas provides a really handy method for this problem: fillna(). fillna() provides a few different strategies for mitigating such data. For example, we can simply replace each NaN with an "Unknown"

In [11]:
reviews[pd.isnull(reviews.country)].fillna("Unknown")

,country,description,designation,points,price,province,region_1,region_2,variety,winery
1133,Unknown,Delicate white flowers and a spin of lemon pee...,Askitikos,90,17.0,Unknown,Unknown,Unknown,Assyrtiko,Tsililis
1440,Unknown,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,Unknown,Unknown,Unknown,Red Blend,Büyülübağ
68226,Unknown,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,Unknown,Unknown,Unknown,Pinot Noir,Chilcas
113016,Unknown,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,Unknown,Unknown,Unknown,Pinot Noir,Chilcas
135696,Unknown,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,Unknown,Unknown,Unknown,Pinot Noir,Chilcas

In [14]:
reviews.designation.replace("Shah", "SRK")

0                            Martha's Vineyard
1         Carodorum Selección Especial Reserva
2                Special Selected Late Harvest
3                                      Reserve
4                                   La Brûlade
                          ...
150925                                     NaN
150926                          Cuvée Prestige
150927                           Terre di Dora
150928                         Grand Brut Rosé
150929                                     NaN
Name: designation, Length: 150930, dtype: object