In [2]:
import pandas as pd

reviews = pd.read_csv('winemag-data_first150k.csv', index_col=0)

In [3]:
reviews.groupby('points').points.count()

points
80       898
81      1502
82      4041
83      6048
84     10708
85     12411
86     15573
87     20747
88     17871
89     12921
90     15973
91     10536
92      9241
93      6017
94      3462
95      1716
96       695
97       365
98       131
99        50
100       24
Name: points, dtype: int64

In [4]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      5.0
83      4.0
84      4.0
85      4.0
86      4.0
87      6.0
88      6.0
89      7.0
90      5.0
91      8.0
92     11.0
93     12.0
94     15.0
95     20.0
96     20.0
97     42.0
98     50.0
99     65.0
100    65.0
Name: price, dtype: float64

In [6]:
reviews.groupby('winery').apply(lambda df: df.description.iloc[0])

winery
'37 Cellars          The name refers to the year 1937, a classic ye...
1+1=3                As in previous years, this wine just isn't tha...
10 Knots             Hot in alcohol, simple in everything else, thi...
1000 Stories         Exotically fruity with an enticing floral char...
1040FU               Unripe, with green peppercorn and asparagus no...
                                           ...
Ñandú                The lighter-style nose that focuses on red plu...
Único Luis Miguel    From Ventisquero and the Mexican crooner Luis ...
àMaurice             While this wine starts out a bit reductive, it...
áster                Coconut and saline aromas fold in toast, berry...
Štoka                This orange-style wine is dark straw in color ...
Length: 14810, dtype: object

In [7]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country
country   province
Albania   Mirditë             Albania  \
Argentina Mendoza Province  Argentina
          Other             Argentina
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description
country   province
Albania   Mirditë           This garnet-colored wine made from 100% Kallme...  \
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
Australia Australia Other   This big wine presents a sophisticated bouquet...
          New South Wales   This wine's deep brassy color suggests honey, ...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        Bouza ranks as one of Uruguay's top wineries, ...
          Progreso          Blackberry and plum aromas come with wood-smok...
          San Jose          While this ranks as one of the best Uruguayan ...
          Uruguay           They call it Special Barrel, and one sniff tel...

                                                        designation  points
country   province
Albania   Mirditë                                               NaN      88  \
Argentina Mendoza Province                         Nicasia Vineyard      97
          Other                                             Reserva      95
Australia Australia Other                                  Yattarna      92
          New South Wales                        Noble One Botrytis      93
...                                                             ...     ...
Uruguay   Juanico                  Preludio Barrel Select Lote N 77      90
          Montevideo        Monte Vide Eu Tannat-Merlot-Tempranillo      90
          Progreso                                              RPF      89
          San Jose                 El Preciado Premier Gran Reserva      89
          Uruguay                                    Special Barrel      89

                            price          province                 region_1
country   province
Albania   Mirditë            20.0           Mirditë                      NaN  \
Argentina Mendoza Province  120.0  Mendoza Province                  Mendoza
          Other              90.0             Other                    Salta
Australia Australia Other    65.0   Australia Other  South Eastern Australia
          New South Wales    32.0   New South Wales          New South Wales
...                           ...               ...                      ...
Uruguay   Juanico            45.0           Juanico                      NaN
          Montevideo         57.0        Montevideo                      NaN
          Progreso           23.0          Progreso                      NaN
          San Jose           60.0          San Jose                      NaN
          Uruguay            50.0           Uruguay                      NaN

                           region_2     variety                winery
country   province
Albania   Mirditë               NaN     Kallmet                Arbëri
Argentina Mendoza Province      NaN      Malbec  Bodega Catena Zapata
          Other                 NaN      Malbec                Colomé
Australia Australia Other       NaN  Chardonnay              Penfolds
          New South Wales       NaN    Sémillon            De Bortoli
...                             ...         ...                   ...
Uruguay   Juanico               NaN   Red Blend        Familia Deicas
          Montevideo            NaN   Red Blend                 Bouza
          Progreso              NaN      Tannat                Pisano
          San Jose              NaN   Red Blend        Castillo Viejo
          Uruguay               NaN      Tannat                 Bouza

[455 rows x 10 columns]

In [8]:
reviews.groupby(['country']).price.agg([len, min, max])

                          len   min     max
country
Albania                     2  20.0    20.0
Argentina                5631   4.0   250.0
Australia                4957   5.0   850.0
Austria                  3057   8.0  1100.0
Bosnia and Herzegovina      4  12.0    13.0
Brazil                     25  11.0    35.0
Bulgaria                   77   7.0    28.0
Canada                    196  12.0   145.0
Chile                    5816   5.0   400.0
China                       3   7.0    27.0
Croatia                    89  12.0    65.0
Cyprus                     31  10.0    22.0
Czech Republic              6  15.0    25.0
Egypt                       3   NaN     NaN
England                     9  38.0    75.0
France                  21098   5.0  2300.0
Georgia                    43   9.0    40.0
Germany                  2452   5.0   775.0
Greece                    884   7.0   120.0
Hungary                   231   7.0   764.0
India                       8  10.0    20.0
Israel                    630   8.0   150.0
Italy                   23478   5.0   900.0
Japan                       2  24.0    24.0
Lebanon                    37  12.0    51.0
Lithuania                   8  10.0    10.0
Luxembourg                  9  36.0    50.0
Macedonia                  16  12.0    25.0
Mexico                     63  12.0   108.0
Moldova                    71   8.0    42.0
Montenegro                  2  10.0    10.0
Morocco                    12   6.0    35.0
New Zealand              3320   7.0   125.0
Portugal                 5322   4.0   980.0
Romania                   139   4.0   320.0
Serbia                     14  15.0    42.0
Slovakia                    3  15.0    16.0
Slovenia                   94   7.0    90.0
South Africa             2258   5.0   145.0
South Korea                 4  11.0    16.0
Spain                    8268   4.0   770.0
Switzerland                 4  19.0    38.0
Tunisia                     2   NaN     NaN
Turkey                     52  14.0   120.0
US                      62397   4.0  2013.0
US-France                   1  50.0    50.0
Ukraine                     5  13.0    13.0
Uruguay                    92   7.0    60.0

In [9]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Albania   Mirditë              2
Argentina Mendoza Province  4742
          Other              889
Australia Australia Other    553
          New South Wales    246
...                          ...
Uruguay   Juanico             19
          Montevideo           3
          Progreso             5
          San Jose            15
          Uruguay             18

[455 rows x 1 columns]

In [10]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [11]:
countries_reviewed.reset_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
2    Argentina             Other   889
3    Australia   Australia Other   553
4    Australia   New South Wales   246
..         ...               ...   ...
450    Uruguay           Juanico    19
451    Uruguay        Montevideo     3
452    Uruguay          Progreso     5
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

In [12]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

      country         province    len
154    Greece   Central Greece      1
207    Greece            Zitsa      1
115    Cyprus            Pafos      1
362  Slovenia  Slovenska Istra      1
213   Hungary           Pannon      1
..        ...              ...    ...
407     Spain   Northern Spain   4892
122    France         Bordeaux   6111
242     Italy          Tuscany   7281
442        US       Washington   9750
422        US       California  44508

[455 rows x 3 columns]

In [13]:
countries_reviewed.sort_values(by='len', ascending=False)

         country                                province    len
422           US                              California  44508
442           US                              Washington   9750
242        Italy                                 Tuscany   7281
122       France                                Bordeaux   6111
407        Spain                          Northern Spain   4892
..           ...                                     ...    ...
410  Switzerland                               Neuchâtel      1
411  Switzerland                                  Ticino      1
412  Switzerland                                  Valais      1
413  Switzerland  Vino da Tavola della Svizzera Italiana      1
175       Greece                          Krania Olympus      1

[455 rows x 3 columns]

In [14]:
countries_reviewed.sort_index()

       country          province   len
0      Albania           Mirditë     2
1    Argentina  Mendoza Province  4742
2    Argentina             Other   889
3    Australia   Australia Other   553
4    Australia   New South Wales   246
..         ...               ...   ...
450    Uruguay           Juanico    19
451    Uruguay        Montevideo     3
452    Uruguay          Progreso     5
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18

[455 rows x 3 columns]

In [17]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
0      Albania           Mirditë     2
2    Argentina             Other   889
1    Argentina  Mendoza Province  4742
5    Australia        Queensland     3
7    Australia          Tasmania    47
..         ...               ...   ...
448    Uruguay           Colonia     6
453    Uruguay          San Jose    15
454    Uruguay           Uruguay    18
447    Uruguay         Canelones    19
450    Uruguay           Juanico    19

[455 rows x 3 columns]